### Imports

In [2]:
import numpy as np
import pandas as pd

In [3]:
data_directory = './data/input/dental_simcse/'

### Load the groups found by clustering

In [9]:
min_group_10 = pd.read_csv(data_directory+'min_group_10_clusters', sep='\t', index_col=0)
min_group_20 = pd.read_csv(data_directory+'min_group_20_clusters', sep='\t', index_col=0)
min_group_30 = pd.read_csv(data_directory+'min_group_30_clusters', sep='\t', index_col=0)

In [18]:
df_min_group = min_group_10.join(min_group_20).join(min_group_30).copy()
df_min_group.index.name = 'Patient ID'

In [22]:
df_min_group[:10]

            Min group of 10  Min group of 20  Min group of 30
Patient ID
0                         0                0                0
1                         1                1                1
2                         1                1                1
3                         2                2                2
4                         3                3                3
5                         4                4                4
6                         5                5                5
7                         6                5                5
8                         7                6                6
9                         8                7                7

In [29]:
df_min_group.loc[200]

Min group of 10    52
Min group of 20    21
Min group of 30    16
Name: 200, dtype: int64

### Load data for first visualization: Top 3 Questions

In [30]:
top3_labels = df_min_group.copy()

In [36]:
top3_text = pd.read_csv(data_directory+'patient_vis_labels.tsv', sep='\t',index_col='Patient ID')

In [39]:
top3_labels = top3_labels.join(top3_text)

In [41]:
top3_labels.to_csv(
    './models/dental_simcse/data/A. Top 3 questions/top3_metadata.tsv',
    sep="\t",header=True,index=True
)

## Load data for second visualization: All Sentences

In [47]:
all_sentence_labels = pd.read_csv(data_directory+'dental_labels_all.tsv', sep='\t', index_col=0)

In [56]:
all_sentence_labels[['Min group of 10', 'Min group of 20', 'Min group of 30']] = np.ones((len(all_sentence_labels),3)) * -1

In [79]:
for i in range(len(all_sentence_labels)):
    
    pID = all_sentence_labels.iloc[i]['Patient ID']
    
    found_clusters = df_min_group.loc[pID].values
    
    all_sentence_labels.loc[i, 'Min group of 10'] = found_clusters[0]
    all_sentence_labels.loc[i, 'Min group of 20'] = found_clusters[1]
    all_sentence_labels.loc[i, 'Min group of 30'] = found_clusters[2]

In [83]:
all_sentence_labels.to_csv(
    './models/dental_simcse/data/B. All Responses/all_sentences_metadata.tsv',
    sep="\t",header=True,index=True
)

In [70]:
df_min_group.loc[200].values

array([52, 21, 16])

In [72]:
df_min_group[199:201]

            Min group of 10  Min group of 20  Min group of 30
Patient ID
199                      53               17               12
200                      52               21               16

In [82]:
all_sentence_labels[all_sentence_labels['Patient ID'] == 200]

,Patient ID,Text,Min group of 10,Min group of 20,Min group of 30
1621,200,Verspannungen im Nacken und Kopf bereich,52.0,21.0,16.0
1622,200,"keine Verspannungen, keine Kopfschmerzen",52.0,21.0,16.0
1623,200,"Beim kauen, vor allem morgens beim aufstehen",52.0,21.0,16.0
1624,200,Klar denken,52.0,21.0,16.0
1625,200,Massage Einheiten,52.0,21.0,16.0
1626,200,"ja, ständiger beidseitiger Kopfschmerz",52.0,21.0,16.0
1627,200,nein,52.0,21.0,16.0
1628,200,Psychisch belastend und nicht aushaldbar,52.0,21.0,16.0

## Load data for per question visualizations

In [112]:
amount_of_questions = 29

In [113]:
question_directory = './models/dental_simcse/data/questions/'

In [114]:
for i in range(amount_of_questions):

    question_labels = pd.read_csv(question_directory + f'Q{i}_labels.tsv', sep='\t', index_col=0)

    question_labels = question_labels.join(df_min_group.loc[question_labels.index])

    question_labels.to_csv(question_directory + f'Q{i}_labels.tsv', sep='\t', index=True, header=True)